@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
    --color-navy-100: #001f3f;
}

@layer base {
    .view-transition-pageTitle {
        view-transition-name: page-title;
    }
    .view-transition-pageSummary {
        view-transition-name: page-summary;
    }
    .view-transition-profileImg {
        view-transition-name: profile-image;
    }
    .view-transition-topMenu {
        view-transition-name: top-menu;
    }
    .view-transition-pageContent {
        view-transition-name: page-content;
    }
    .view-transition-pageContent-1 {
        view-transition-name: page-content-1;
    }
    .view-transition-expertiseList {
        view-transition-name: expertise-list;
    }

    html {
        height: 100%;
    }
    h1 {
        @apply text-5xl font-bold;
    }
    h2 {
        @apply text-4xl font-bold;
    }
    h3 {
        @apply text-3xl font-bold;
    }
    h4 {
        @apply text-2xl font-bold;
    }
    button {
        &:hover {
            @apply cursor-pointer;
        }
    }
}

@layer components {
    .bg-angular {
        background: linear-gradient(
            90deg,
            oklch(63.32% 0.24 31.68) 0%,
            oklch(69.02% 0.277 332.77) 50%,
            oklch(53.18% 0.28 296.97) 100%
        );
    }
}

@utility container {
    @media (width >= theme(--breakpoint-xl)) {
        max-width: 64rem;
    }
}
